---
layout: responsive
title: Join the local.ch Web Team
description: Job positions at local.ch
keywords: local, engineer, ruby, rails, javascript, product, manager, web, website, local, engineer, ruby, rails, javascript
---

<div class="row">
  <div id="hero" class="twelve columns">
    <div class="emphasized panel">
      {% include intro.html %}
      
      <!-- <p class="tagline">Open positions:
        {% include job_list.html %}
      </p> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <a href="http://www.flickr.com/photos/20696196@N08/8579785002" title="Best of Swiss Web 2013 - Silver Award - Technology"><img src="assets/images/bosw-2013-thumb.jpg" /></a>

    <h2>The Agile Engineer</h2>
    <p>We have many different projects and teams at local.ch. From web to mobile and desktop, we combine a mix of agile practices, collaboration and code reviews to get things done. Developers work closely with product owners and designers, so engineers are truly part of the whole product development process. Teams work together and play together, in a cross-functional way, to break "bubbles" and silos.</p>
    <h5>Best Practices</h5>
    <p>We believe in convention over configuration, iterative development, design-first, clean APIs and peer code reviews. We &#x2665; testing. We're hackers, engaged by things like Open Data, embedded hardware and hack day projects.</p>
    <h5>Great Teams == Great Results</h5>
    <p>We have small teams of A-players who like to solve challenging problems. We're really into visualizations and analytics, and enjoy playing with Graphite and have several infoscreens around the office. We believe in learning and coding together, we're not afraid of new tools or new techniques. We like a simple release process and enjoy focusing on one thing at a time.</p>


    <h2 class="section">Open Positions</h2>
    {% include job_list.html %}
        
    <h5>Apply Today!</h5>
    <p>
      No cover letter required. Simply send your CV and a link to your Github account (or code examples) to <a href="mailto:hrz@local.ch?subject=E-Media%20Job">hrz@local.ch</a>.
    </p>

    
    <h2 class="section">Community</h2>
    <p>We take part in Switzerland's developer community. Our engineers regularly attend:</p>
    <ul>
      <li><a href="http://webtuesday.ch/">Webtuesday</a></li>
      <li><a href="http://www.meetup.com/rubyonrails-ch">Rails Hock</a></li>
      <li><a href="http://techup.ch/tag/JSZurich">JS Zurich</a></li>
      <li><a href="http://events.amazeelabs.com/en/event/1st-web-monday-zurich-2012">Webmonday</a></li>
      <li>many conferences across Europe, e.g. Frozen Rails, Oredev, JSConf.eu, Berlin Buzzwords, Railsberry, FOWA, ...</li>
    </ul>
    <p>Additionally we often host a Ruby Hack night in our office.</p>
    <p><img src="assets/images/hacknight.jpg" alt="Ruby Hacknight at our office"/></p>
  </div>
  
  
  
  
  <div class="four columns">
    <a href="http://www.youtube.com/watch?v=L0C54n9VRRs" id="facespreview"><img src="assets/images/video.jpg" height="180" width="300" class="first" alt="Faces of local.ch"/></a>
    <div id="facesvideo">
      <iframe width="300" height="182" src="" frameborder="0" allowfullscreen></iframe>
    </div>

    <h2>What we offer:</h2>
     <ul>
        <li>Small and dedicated international team with start-up character and a lot of freedom.</li>
        <li>Deploy great applications to millions of users daily</li>
        <li>Solve interesting problems and create new products and services</li>
        <li>Hackdays and fun projects, time to work on your own ideas</li>
        <li>A top-of-the-line MacBook Pro or Air, and a 27" Cinema Display</li>
        <li>Office in Zurich, 2 minute walk from the main train station</li>
        <li>Free snacks, coffee, tea, full kitchen, great meeting rooms</li>
        <li>An endless supply of whiteboard markers and drawing paper</li>
        <li>Live and work in Switzerland, a wonderful country with one of the highest standards of living worldwide.</li>
     </ul>
     
     
    {% include about.html %}
    {% include place_of_work.html %}
  </div>
 
 
 
  <div class="four columns">
    <img src="assets/images/toeggeli.jpg" height="180" width="300" alt="Playing a game of foosball table"/>

    <h2 class="">Hackdays</h2>
    <p class="clearfix">
      <img src="assets/images/hackday1_small.jpg" class="inline" alt="Hackday in progress"/>From time to time we organise internal Hackdays where everyone can work on his/her own projects and ideas. We enjoy the freedom and the results at the end of the day are always amazing.<br />
    </p>

    <h4>Impressions of our fun projects</h4>
    <p>
      <iframe width="300" height="182" src="http://www.youtube.com/embed/IpNg-B8i8AU?rel=0" frameborder="0" allowfullscreen></iframe><br />
      <a href="http://blog.local.ch/en/2011/04/06/minority-report-with-xbox-kinect/">Minority Report Infoscreen</a>
    </p>

    <p>
      <iframe width="300" height="182" src="http://www.youtube.com/embed/ORI1Jdk5e5g?rel=0" frameborder="0" allowfullscreen></iframe><br />
      <a href="http://29a.ch/2011/10/10/swiss-address-visualization-webgl">Visualization of Swiss Addresses</a>
    </p>

    <p>
        <img src="assets/images/team.jpg" height="180" width="300" alt="Presentation of the results of a recent Hackday"/>

      <a href="http://blog.local.ch/en/2011/11/17/liveblogging-vom-hack-day-2011-bei-local-ch/"><img src="assets/images/hackday_composed.jpg" alt="Impressions of our Hackday"/></a>
    </p>

    <p><a href="http://blog.local.ch/en/2013/09/23/localengconf-a-day-to-celebrate-our-engineering-talents/">Read more about our engineering culture.</a></p>
    
    <p>
      <iframe frameborder="0" height="350" src="http://cf-360.local.ch/pano/localCH/local360_en.html"></iframe>
    </p>
    
  </div>
</div>

