<h2 class="section">About local.ch</h2>
<div class="clearfix">
  <p>
    <a href="https://www.local.ch/"><img src="/assets/images/hp_preview_localch.jpg" alt="local.ch website screenshot" class="img-responsive"/></a>
  </p>
  <p>
    local.ch is Switzerland's official phonebook directory. Available as printed phone book, online and on mobile devices. Our core competence is to bring people and businesses together.
  </p>
  <p>
    With up to 4.3 million unique visitors and 19 million visits per month, local.ch is one of Switzerland's top websites.
  </p>
  <!-- lookin at the source? http://netreport.net-metrix.ch/audit/detail.php?id=29553&l=de&s=51421 -->
  <p>
    <a href="https://www.local.ch/" class="forward"><span>www.local.ch</span></a>
  </p>
</div>

<h2 class="section">About search.ch</h2>
<div class="clearfix">
  <p>
    <a href="http://www.search.ch/"><img src="/assets/images/hp_preview_search.jpg" alt="search.ch website screenshot" class="img-responsive"/></a>
  </p>
  <p>
    search.ch offers you targeted, simple and fast information as well as tools for the daily planning an organization of your business and private life.
  </p>
  <!-- lookin at the source? http://netreport.net-metrix.ch/audit/detail.php?id=29493&l=de&s=51421 -->
  <p>
    <a href="http://www.search.ch/" class="forward"><span>www.search.ch</span></a>
  </p>
</div>

<p>
  {% if page.url != '/' %}
  <br/><a href="/" class="forward"><span>Learn more about our culture</span></a>
  {% endif %}
</p>
