    <div class="row">
      <div id="hero" class="twelve columns">
        <div class="emphasized panel">
          {% include intro.html %}

          <p class="tagline"><a href="/">Find out more about the team and the company</a>.</p>

          <p class="tagline">Other open positions:
            <ul>
              {% for post in site.posts %}
                {% if post.hidden != true and post.url != page.url %}
                  <li><a href="{{ post.url}}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </p>    
        </div>
      </div>
    </div>