<h2 class="section">Place of work</h2>
<ul class="block-grid one-up mobile-one-up">
  <li>
    <p><strong>local.ch AG</strong><br/>Konradstrasse 12<br/>CH-8005 Zürich</p>
    <div id="maplocation">
      <a target="_blank" href="http://www.local.ch/en/map?d=huU90mB_6vAfUdVz_uDoyA&amp;where=Konradstrasse+12,%20Zürich&amp;what=local.ch">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=47.380241,8.536935&amp;zoom=12&amp;size=300x97&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:L%7C47.380241,8.536935&amp;sensor=false" id="map12"/>
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=47.380241,8.536935&amp;zoom=14&amp;size=300x97&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:L%7C47.380241,8.536935&amp;sensor=false" id="map14" />
      </a>
    </div>
  </li>
  <li><img src="assets/images/office1.jpg" alt="Your future office and workplace"/></li>
  <li><img src="assets/images/meetingroom.jpg" alt="One of our meeting rooms"/></li>
</ul>
