<h2 class="section">Place of work</h2>
<p><strong><a href="http://tel.local.ch/de/d/Zuerich/8005/Internet/localch-A00OhenWd_Z5RWnxDE7mqA?what=local.ch&where=Z%C3%BCrich" alt="local.ch" target="_blank">local.ch AG</a></strong><br/>Konradstrasse 12<br/>CH-8005 Zürich</p>
<div id="maplocation">
  <a target="_blank" href="http://www.local.ch/en/map?d=huU90mB_6vAfUdVz_uDoyA&amp;where=Konradstrasse+12,%20Zürich&amp;what=local.ch">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=47.3921033,8.5128881&amp;zoom=12&amp;size=300x97&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:L%7C47.3921033,8.5128881&amp;sensor=false" id="map12"/>
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=47.3921033,8.5128881&amp;zoom=14&amp;size=300x97&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:L%7C47.3921033,8.5128881&amp;sensor=false" id="map14" />
  </a>
</div>
