<h2 class="section">Place of work</h2>
<p><strong><a href="http://tel.local.ch/de/d/Zuerich/8005/Internet/localch-A00OhenWd_Z5RWnxDE7mqA?what=local.ch&amp;where=Z%C3%BCrich" alt="local.ch" target="_blank">local.ch</a></strong><br/>Förrlibuckstrasse 60/62<br/>CH-8005 Zürich</p>
<div id="maplocation">
  <a target="_blank" href="http://www.local.ch/en/map?d=huU90mB_6vAfUdVz_uDoyA&amp;where=F%C3%B6rrlibuckstrasse+60,%20Z%C3%BCrich&amp;what=local.ch">
    <img src="http://maps.google.com/maps/api/staticmap?center=47.392541,8.511249&amp;zoom=12&amp;markers=color:blue|label:L|47.392541,8.511249&amp;size=300x200&amp;sensor=FALSE"/>
    <img src="http://maps.google.com/maps/api/staticmap?center=47.392541,8.511249&amp;zoom=14&amp;markers=color:blue|label:L|47.392541,8.511249&amp;size=300x200&amp;sensor=FALSE"/>
  </a>
</div>
