body{
  background-color: #f9f9f9;
  font-size: 16px;
}

ul.job-list {
  padding: 0;
}

.job-list li{
  list-style-type: none;
}

.logo .logo-image{
  width: 48px;
  height: 48px;
}

.logo {
  margin: 8px 0 8px 8px;
}

.site-header{
  background-color: #333;
}

.nav-link{
  color: #bdbdbd;
  margin-left: 20px;
}

h2.section{
  font-size: 26px;
  border-bottom: 2px solid #e5e5e5;
  margin-top: 26px;
  margin-bottom: 16px;
  line-height: 55px;
}

.intro-title{
  border-bottom: 2px solid #e5e5e5;
  font-size: 26px;
}

.position-title{
  font-size: 38px;
  border: none;
}
