---
layout: responsive
title: ★ Frontend Web Developer
description: Frontend Web Developer job opening at local.ch, Zürich, Switzerland
keyword: local, frontend, engineer, ruby, rails, javascript
hidden: false
---

{% include nav_jobs.html %}

<div class="row">
  <div class="eight columns">
    <h2>Frontend Web Developer</h2>
    <p>
      As a frontend engineer you will focus on building web apps and creating a great user experience. We develop applications in Ruby on Rails and Javascript. Our team works with a mix of agile practices, pair programming and code reviews to continuously improve our code and ourselves. We take testing and automation seriously. At local.ch, we believe we have constructed an environment that allows us to continue to adapt and develop cutting edge features.
    </p>
    <p>
      Your responsibility is end-to-end, from planning, implementation, testing to maintaining your code after deployment. You are part of an experienced team of engineers, working with product owners, specialists and other departments. New features are implemented and deployed in short iterations and your contributions and ideas are always valued.
    </p>
    <p>
      Since we are running one of the biggest web sites in Switzerland, you get a chance to have a positive impact on millions of users within your first day.
    </p>

    <h2>Roles and Responsibilities</h2>
    <ul>
        <li>Delight users with great products.</li>
        <li>Develop web and responsive apps for browsers and tablets.</li>
        <li>Assist product managers in understanding audience (A/B tests and data analysis).</li>
        <li>Transform mockups/designs into cross browser web applications.</li>
        <li>Help us improve the engineering tool chain and process.</li>
    </ul>

    <h2>Desired Skills &amp; Experience</h2>
    <ul class="block-grid five-up mobile-two-up tech-logos">
      <li>
        <div class="panel text-center"><img src="/assets/images/html5.png" alt="HTML5" /></div>
      </li>
      <li>
        <div class="panel text-center" style="background-color: #f3df49;">
          <img src="/assets/images/js.png" alt="JavaScript" />
        </div>
      </li>
      <li>
        <div class="panel text-center"><img src="/assets/images/rails.png" alt="Ruby on Rails" /></div>
      </li>
    </ul>
    <ul>
        <li>Ideally 3+ years professional experience in web software development.</li>
        <li>Can demonstrate skills in developing rich web applications and user interaction.</li>
        <li>HTML and CSS (HAML/SCSS a plus).</li>
        <li>Strong Javascript skills.</li>
        <li>Experience with JS frameworks like AngularJS, React, Backbone.js, Ember.js or Meteor.</li>
        <li>Understanding of cross-browser development, testing and bug fixing.</li>
        <li>Experience with Ruby on Rails or similar server side MVC framework.</li>
        <li>Advanced understanding of HTTP protocol.</li>
        <li>Understanding principles of REST architectures.</li>
        <li>Experience with at least one other programming language as PHP, Python, Java, C++ ...</li>
        <li>Comfortable at a Unix command-prompt.</li>
        <li>Confidence with using Git</li>
        <li>Good habits with writing tests (preferably in RSpec and Javascript)</li> 
        <li>Excited by challenging problems, addicted to shipping features to production.</li>        
        <li>Fluent in English. German/French is a plus.</li>
    </ul>

    <h2 class="section">Apply Today!</h2>
    <p>
      No cover letter required. Simply send your CV and a link to your GitHub account or code examples to <a href="mailto:hrz@local.ch?subject={{ page.title | url_param_escape }}">hrz@local.ch</a>.
    </p>

    <h3>Questions?</h3>
    <p>
      Questions about the job can be sent directly to the engineering team lead, <a href="mailto:jeremy.seitz@local.ch?subject={{ page.title | url_param_escape }}">Jeremy Seitz</a>.
    </p>
  </div>
  <div class="four columns">
    {% include place_of_work.html %}
    {% include about.html %}
  </div>
</div>
