---
layout: responsive
title: Data Quality Manager
description: Data Quality Manager job opening at local.ch, Zürich, Switzerland
keyword: local, support, quality, data, search, project management
---

<div class="row">
  <div class="eight columns">
    <h2>Data Quality Manager</h2>
    <p>
      This job is situated at the core of our Engineering culture. You will interact with the Engineers who develop every bit of our Mobile-Apps, our Website and the search engine behind. While we are running one of the biggest web sites in Switzerland, you get a chance to have a positive impact on millions of users within your first day.
    </p>
    <p>
      Your challenge is to turn our "reactive support operations" into "proactive quality assurance". Your job will focus on three areas:
    </p>

    <h3>1. Data-Tuning for better search results</h3>
    <p>Our search results are highly dependant on our core data such as our category trees, synonyms, geo-areas and of course the data quality of our phonebook entries. With the input of our support cases and our big data toolset (Hadoop, Spark, Cassandra) your task will be in finding out <strong>what</strong> needs changing and <strong>how</strong> this needs to be attacked.</p>


    <h3>2. Project-Initiation to kill support cases "once and for all"</h3>
    <p><!--Some support cases are like zombies that can only be killed once the zombie master is killed.--> Your job is to find the root causes and - with the input of the Engineers - identify the most efficient way to solve it. You will pitch it to our management board in order to have your project put into reality.</p>


    <h3>3. Support to be in touch with the real worlds problems</h3>
    <p>A common shortcoming of quality ensurance is that it doesn't solve the real worlds problems. In order to be in constant contact with our customers problems you will functionally lead our 4 person support team and solve tickets yourself</p>

    <p>The combination of "quality assurance" of "hands on support" might seem special at first. We believe though that the best projects are initiated from people who are confronted with our customers' real issues.</p>

    <h2>Desired Skills &amp; Experience</h2>
    <ul>
        <li>Support experience in an engineering department</li>
        <li>Deep analytic understanding of Web technologies (especially HTTP and JSON)</li>
        <li>Strong customer focus</li>
        <li>vigor to persuade others</li>
        <li>able to adapt communications to target audience (project managers, engineers, customer care)</li>
        <li>Languanges: German and English: proficient user (able to discuss and persuade), French: independent user (French is mainly used in written communication)</li>
    </ul>

    <h2 class="section">About Engineering at local.ch</h2>
    <p>
      We have a flat hierarchy, have a strong agile culture, we are situated 2 minutes from Zürich HB. We have a strong Engineering culture, here is a video from a Hackday as a proof:

      <iframe width="560" height="315" src="//www.youtube.com/embed/JLBxlPnoyyE" frameborder="0" allowfullscreen></iframe>
    </p>

    <h2 class="section">How to apply</h2>
    <p>
      <!--No cover letter required. Simply send your CV and a link to your GitHub account or code examples--> Send your application to <a href="mailto:hrz@local.ch?subject={{ page.title | url_param_escape }}">hrz@local.ch</a>.
    </p>

    <h3>Questions?</h3>
    <p>
      Questions about the job can be sent directly to the operations&amp;quality team lead, <a href="mailto:philipp.keller@local.ch?subject={{ page.title | url_param_escape }}">Philipp Keller</a>.
    </p>
  </div>
  <div class="four columns">
    {% include place_of_work.html %}
    {% include about.html %}
  </div>
</div>