---
layout: responsive
title: ★ Freelance Web Developer, Zürich
description:  Freelance Web Developer position at local.ch, Zürich, Switzerland
keyword: job, local.ch, frontend, engineer, html, css
hidden: true
---

{% include nav_jobs.html %}

<div class="row">
  <div class="eight columns">
    <h2>Freelance Web Developer</h2>
    <p>
      At local.ch we maintain and publish a lot of content online. We're looking for a freelance web developer who is experienced with HTML/CSS, and can help us to create new websites and maintain and update existing ones.
    </p>
    <p>
      This position would be within the web team at local.ch, you would be working with experienced front- and back-end developers, designers and project managers to produce layout, content and design elements on web.
    </p>
    <p>
      This is a <b>part-time, freelance</b> position, 1-2 days/week in Zurich, depending on workload. Together we would coordinate and agree on a schedule. We are hoping to find someone that can work on-site, to meet with developers and designers, although off-site work could be possible.
    </p>
    <p>
      Since we are running one of the biggest web sites in Switzerland, you get a chance to have a positive impact on millions of users within your first day.
    </p>

    <h2>Desired Skills &amp; Experience</h2>
    <ul class="block-grid five-up mobile-two-up tech-logos">
      <li>
        <div class="panel text-center"><img src="/assets/images/html5.png" alt="HTML5" /></div>
      </li>
    </ul>
    <ul>
        <li>Past experience building web sites and content online</li>
        <li>HTML and CSS</li>
        <li>Some Javascript familiarity</li>
        <li>Understanding of responsive design and best practices</li>
        <li>Image editing/preparation for web (Adobe Photoshop or similar)</li>
        <li>Experience using web-based content management systems (CMS)</li>
        <li>Experience turning design mockups into working web pages</li>
        <li>Experience with a web development language, such as PHP a plus</li>
        <li>Experience using Git a plus</li>
        <li>Experience with Ruby/Rails, Liquid templates a big plus</li>
        <li>Fluent in English. German/French/Italian is a plus.</li>
    </ul>

    <h2 class="section">Apply Today!</h2>
    <p>
      Please send an email with a link to your website or portfolio to <a href="mailto:jeremy.seitz@local.ch?subject={{ page.title | url_param_escape }}">jeremy.seitz@local.ch</a>. <i>Note: This is a freelance, part-time position that requires you to be legal to work in Switzerland.</i>
    </p>

    <h3>Questions?</h3>
    <p>
      Questions about the job can be sent directly to the engineering team lead, <a href="mailto:jeremy.seitz@local.ch?subject={{ page.title | url_param_escape }}">Jeremy Seitz</a>.
    </p>
  </div>
  <div class="four columns">
    {% include place_of_work.html %}
    {% include about.html %}
  </div>
</div>
