---
layout: responsive
title: ★  Junior Backend Developer, Zürich
description:  Backend Developer job opening at local.ch, Zürich, Switzerland
keyword: job, local.ch, backend, java, spring, mongo, rest, data
hidden: false
---

<div class="row">
  <div class="col-md-8">
    {% include nav_jobs.html %}
    <h1>Junior Backend Java Developer</h1>
    <p>
		The backend team develops the infrastructure to import, process, and store the phonebook- and advertisement data for Switzerland’s official directory. We are providing a highly optimized and reliable layer of delivery services to make this data accessible to our search engine and the web/mobile platforms. Our main challenge is to constantly push our technology stack forward and to be ready for next-gen features.
    </p>
    <p>
		As a member of the backend team, you will be part of a small but highly committed group of developers that is collaborating very closely with web- and mobile engineering teams to provide the best solutions possible to our users and customers.
    </p>
    <p>
      Since we are running one of the biggest web sites in Switzerland, you get a chance to have a positive impact on millions of users within your first day.
    </p>

    <h2>Roles and Responsibilities</h2>
    <ul>
		<li>Translate business requirements into technical solutions</li>
		<li>Develop and improve our application architecture</li>
		<li>Take responsibility for all phases of the application life cycle</li>
		<li>Do reviews and improve our code quality</li>
    </ul>

    <h2>Desired Skills &amp; Experience</h2>
    <ul class="tech-logos">
      <li>
        <img src="/assets/images/java-eps-logo.png" alt="JAVA" />
      </li>
      <li>
          <img src="/assets/images/logo-spring.png" alt="Spring Framework" />
      </li>
      <li>
        <img src="/assets/images/api2.png" alt="REST Api" />
      </li>
    </ul>

    <div class="clearfix"></div>

    <p>
	    <ul>
            <li>Development experience with Java (version 7+), even if in hobby projects (submit examples)</li>
            <li>Spring framework knowledge is a plus</li>
            <li>Versatile and always eager to tackle new problems and evolve our backend architecture</li>
            <li>Highly interested in software development topics like industry trends, processes and development methods</li>
            <li>Eager to learn and motivated to improve development skills</li>
            <li>Basic understanding of API technologies, relational databases and document/key-value stores</li>
            <li>You are a team player and have experience working in agile environments</li>
            <li>Fluent in English; German/French/Italian is a plus</li>
	    </ul>
    </p>

    <h2 class="section">Apply Today!</h2>
    <p>
      Simply send your CV and a link to your GitHub account or code examples to <a href="mailto:hrz@localsearch.ch?subject={{ page.title | url_param_escape }}">hrz@localsearch.ch</a>. <br /><i>Note: This position requires that candidates are legal to work and live in Switzerland.</i>
    </p>

    <h3>Questions?</h3>
    <p>
      Questions about the job can be sent directly to the web engineering team lead, <a href="mailto:yannick.suter@local.ch?subject={{ page.title | url_param_escape }}">Yannick Suter</a>.
    </p>
    {% include about.html %}
  </div>

