---
layout: responsive
title: ★ Senior System Engineer
description:  System Engineering job opening at local.ch, Zürich, Switzerland
keyword: job, local.ch, system engineering, docker, cloud
hidden: false
---

<div class="row">
  <div class="col-md-8">
    {% include nav_jobs.html %}
    <h1>Senior System Engineer</h1>
    <p>We're planning to move out of our datacenters into a docker based, cloud hosted environment and are searching for someone who both understands the traditional server based environment but has hands on experience on cloud hosted environments.</p>
    <p>Your responsibility is end-to-end: from analyzing needs (coming from our goal of 99.98% uptime as well as from software engineering), to developing a fitting setup, deploying and monitoring the solution.</p>
    <p>The system engineering team is a small team of 3 engineers which runs local.ch (peak traffic of 12K requests/min). It's part of an engineering team consisting of 30 engineers which program mostly in Java and Ruby. We believe in joint responsibities between developers and engineers (everyone can change everything at anytime, granted he acts responsible), our teams have continuous deployment (around 5 deployments per day to prod).</p>
    
    <h2 id="our-current-technologies">Our current technologies</h2>
    <ul>
        <li>virtualisation: docker, rancher, prometheus</li>
        <li>configuration management: puppet</li>
        <li>monitoring: icinga, prometheus, graphite</li>
        <li>OS: debian linux</li>
        <li>network: brocade loadbalancers, arista switches, bgp for global loadbalancing</li>
        <li>databases: mongodb, postgres</li>
        <li>application servers: tomcat, nginx</li>
    </ul>
    <p>Our current project is to dockerize all our applications. Once done, we're ready to move to a cloud hosting and the mentioned technologies might change quite drastically.</p>

    <h2 id="what-you-need-to-bring">What you need to bring</h2>

    <ul>
        <li>experience in a cloud hosted environment (one of Amazon EC2, Google, Rackspace, etc.)</li>
        <li>experience in a system engineering role for at least 3 years, preferrably in a web environment</li>
        <li>docker experience is a plus</li>
        <li>experience in highly scaled setups (loadbalancing, automation, monitoring)</li>
        <li>intermediate networking skills</li>
        <li>in-depth linux knowhow</li>
        <li>fluency in at least one programming language</li>
        <li>self motivation, decisiveness to analyze, implement and deploy projects solely on your own</li>
    </ul>

    <h2 id="we-offer">We offer</h2>

    <ul>
        <li>an on-site, skilled, international engineering team with with start-up character and a lots of freedom</li>
        <li>hackdays and fun projects, time to work on your own ideas</li>
        <li>choose-your-own-device: most of us have a top-of-the-line MacBook Pro or Air, with a 27&quot; Cinema Display</li>
        <li>office in Zurich West, close to the Limmat</li>
        <li>an endless supply of whiteboard markers and drawing paper</li>
    </ul>

    <h2 id="about-local.ch-ag">About local.ch ag</h2>
    <p>local.ch is Switzerland's official phonebook directory. Available as printed phone book, online and on mobile devices. Our core competence is to bring people and businesses together.</p>
    <p>With up to 4.3 million unique visitors and 19 million visits per month, local.ch is one of Switzerland's top websites.</p>

    <h3>Questions?</h3>
    <p>
      Questions about the job can be sent directly to <a href="mailto:philipp.keller@local.ch?subject={{ page.title | url_param_escape }}">Philipp Keller</a>.
    </p>
    {% include about.html %}
  </div>
</div>