---
layout: responsive
title: ★ Software engineer for search.ch, Zürich
hidden: false
---

<div class="row">
  <div class="col-md-8">
    {% include nav_jobs.html %}
    <h1>Software engineer for search.ch, Zürich</h1>

    <h2>Who we are</h2>
    <p>
      At search.ch we develop and maintain services that help organize your daily business and private life. We are one of the most used Swiss websites, with our main services being the directory tel.search.ch, the world's first interactive map map.search.ch and its route planner. In addition, we maintain many useful services such as weather forecasts, public transit route planning, web search, tv and cinema guides. All of those services run on mobile web, mobile apps and Desktop computers. 
    </p>

    <h2>What we offer</h2>
    <p>
      Our team is small (seven engineers for the whole website), highly qualified and autonomous, therefore one engineer can make a big difference. We offer a platform that's nationally known and offers many interesting challenges, but largely without bureaucracy. The place of work is 15 minutes from the main station near Escher-Wyss-Platz. 
    </p>
    <h2>What we need</h2>
    <p>
We are looking for additional creative people in our development team - we thrive on ideas. Our server environment is Linux with the languages PHP, MySQL, Elasticsearch and C. Theoretical and practical experience in web programming, especially PHP, HTML, CSS, Javascript and Linux/Unix are welcomed. Most important, though, is the enjoyment of programming and the talent for cracking complex problems in 
    </p>
    <h2>What you should bring</h2>
    <ul>
      <li>Academic education (ETH computer science or similar, Fachhochschule)</li>
      <li>Fluent German on level B2 or better</li>
      <li>Time for a full-time job</li>
      <li>Solid programming knowledge, especially web frontend/backend</li>
      <li>Strong user interaction design skills</li>
      <li>Practical programming experience, even if in hobby projects (submit examples)</li>
      <li>Creativity, innovativeness, knack for simplicity</li>
      <li>Self-reliance - you will be your own project manager </li>
    </ul>
    <div class="clearfix"></div>
    <h2 class="section">Apply Today!</h2>
    <p>
      Simply send your CV and a link to your GitHub account or code examples to <a href="mailto:hrz@localsearch.ch?subject={{ page.title | url_param_escape }}">hrz@localsearch.ch</a>. <br /><i>Note: This position requires that candidates are legal to work and live in Switzerland.</i>
    </p>

    {% include about.html %}
  </div>
</div>
