---
layout: responsive
title: ★ Backend Developer, Zürich
description:  Backend Developer job opening at local.ch, Zürich, Switzerland
keyword: job, local.ch, backend, java, spring, mongo, rest, data
hidden: false
---

<div class="row">
  <div class="col-md-8">
    {% include nav_jobs.html %}
    <h1>Backend Java Developer</h1>
    <p>
		The backend team develops the infrastructure to import, process, and store the phonebook- and advertisement data for Switzerland’s official directory. We are providing a highly optimized and reliable layer of delivery services to make this data accessible to our search engine and the web/mobile platforms. Our main challenge is to constantly push our technology stack forward and to be ready for next-gen features.
    </p>
    <p>
		As a member of the backend team, you will be part of a small but highly committed group of developers that is collaborating very closely with web- and mobile engineering teams to provide the best solutions possible to our users and customers.
    </p>
    <p>
      Since we are running one of the biggest web sites in Switzerland, you get a chance to have a positive impact on millions of users within your first day.
    </p>

    <h2>Roles and Responsibilities</h2>
    <ul>
		<li>You translate business requirements into technical solutions</li>
		<li>You develop and improve our application architecture</li>
		<li>You are responsible for all phases of the application life cycle</li>
		<li>You work in a team, but are also able to execute tasks autonomously</li>
		<li>You do code reviews and improve our code quality</li>
    </ul>

    <h2>Desired Skills &amp; Experience</h2>
    <ul class="tech-logos">
      <li>
        <img src="/assets/images/java-eps-logo.png" alt="JAVA" />
      </li>
      <li>
          <img src="/assets/images/logo-spring.png" alt="Spring Framework" />
      </li>
      <li>
        <img src="/assets/images/api2.png" alt="REST Api" />
      </li>
    </ul>

    <div class="clearfix"></div>

    <p>
	    <ul>
			<li>You are versatile and always eager to tackle new problems</li>
			<li>You are used to agile working methodologies, <b>SCRUM</b>, XP, Kanban</li>
			<li>You have professional development experience with <b>Java</b>, version 7+</li>
			<li>You have profound knowledge of the <b>Spring</b> framework 4.0+ (mvc, data, security, batch, boot)</li>
			<li>You have practical understanding of <b>RESTful</b> API design</li>
			<li>You have experience with <b>MongoDB</b>, PostgreSQL and Redis</li>
			<li>You have experience with Maven or Gradle</li>
			<li>You have experience with GWT is a plus</li>
			<li>You are comfortable in a Unix environment and on the command-prompt</li>
			<li>You have basic scripting / automation skills</li>
			<li>You have confidence in using Git</li>
			<li>You have good habits of writing tests</li>
			<li>You are fluent in <b>English</b>, German/French is a plus</li>
			<li><b>You like being awesome!</b></li>
	    </ul>
    </p>

    <h2 class="section">Apply Today!</h2>
    <p>
      Simply send your CV and a link to your GitHub account or code examples to <a href="mailto:hrz@local.ch?subject={{ page.title | url_param_escape }}">hrz@local.ch</a>. <br /><i>Note: This position requires that candidates are legal to work and live in Switzerland.</i>
    </p>

    <h3>Questions?</h3>
    <p>
      Questions about the job can be sent directly to the web engineering team lead, <a href="mailto:eduard.schaeli@local.ch?subject={{ page.title | url_param_escape }}">Eduard Schäli</a>.
    </p>
    {% include about.html %}
  </div>

