---
layout: responsive
title: ★ Android Engineer, Zürich
description: Android Engineer job opening at local.ch, Zürich, Switzerland
keyword: java, android, local, engineer, mobile, ios, swift, objective-c
hidden: false
---


<div class="row">
  <div class="col-md-8">
    {% include nav_jobs.html %}
    <img src="/assets/images/localsearch_android.png" alt="Android" style="float:right"/>
    <h1>Android Engineer</h1>
    <h2>Overview</h2>

    <p>At local.ch and search.ch we maintain and advance native applications for Android and iOS used by more than a million clients a month.. We’re looking for an Android Engineer to help us do exactly that.</p>

    <p>As a Mobile Software Engineer you will focus on building apps and creating a great user experience. Our team works with agile practices, pair programming and code reviews to continuously improve our code and ourselves.</p>

    <p>Your responsibility is end-to-end, from planning, implementation, testing to maintaining your code after deployment. You are part of an experienced team of mobile engineers, working with product owners, specialists and other departments. New features are implemented and deployed in short iterations and your contributions and ideas are always valued.</p>

    <p>Since we are running some of the biggest mobile applications in Switzerland, you get a chance to have a positive impact on millions of users within your first day.</p>

    <h2>Roles and Responsibilities:</h2>
    <ul>
      <li>Delight users with great application features.</li>
      <li>Develop native Android mobile applications for smartphones and tablets.</li>
      <li>Transform mockups/designs (that you helped shape) into working native applications</li>
      <li>Help us improve the engineering tool chain and processes</li>
    </ul>

    <h2>Required Skills &amp; Experience</h2>

    <ul>
      <li>Degree in Software Engineering and/or 3+ years professional experience in software development</li>
      <li>Proficiency in native application development on Android (Java)</li>
      <li>Experience refactoring code and evolving architectures</li>
      <li>Strong understanding of computer science fundamentals, including object-oriented design, data structures, algorithm design, problem solving, and complexity analysis</li>
      <li>Fluency in English</li>
    </ul>
    <h2>Bonus Points</h2>
    <ul>
      <li>You've published your own app(s) in the App or Play Store</li>
      <li>You're familiar with another mobile platform, e.g. iOS</li>
      <li>Experience in the following areas: Ruby on Rails, RESTful APIs, Web applications, Git and testing</li>
      <li>Knowledge of German, Fench and/or Italian</li>
    </ul>
    <p><b>Place of work:</b> Z&uuml;rich, Switzerland</p>

    <h2 class="section">Apply Today</h2>
      <p>Simply <a href="mailto:localsearch-lcls0438@applications.recruiterbox.com?subject=Android+Engineer">email us</a> your CV and a link to your GitHub account or  examples of your work.</p>
    {% include about.html %}
  </div>
</div>
