body {
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

#cnt {
    width: 680px;
    margin: 20px auto;
    position: relative;
    border: 1px solid #333;
    background-color: #fff;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
p {
    margin: 10px 0;
}
b {
    font-weight: bold;
}
h1 {
    font-size: 1.3em;
    margin: 20px 0 14px 0;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
h2 {
    font-size: 1.1em;
    margin: 14px 0 10px 0;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
h2.line {
    border-top: 1px dotted #bbb;
    margin-top: 20px;
    padding-top: 20px;
}
li {
    margin-bottom: 3px;
}
#hdr {
    padding: 20px 30px 0 30px;
}
#main {
    padding: 30px;
    padding-top: 0;
}