body {
  font-family:Helvetica, Arial, sans-serif;
}

p, li{
  font-size: 15px;
  line-height: 1.5;
}
h2{
  margin: 1em 0 0.5em;
}

.container {
  position: relative;
}
#logo {
  position: absolute;
  top: -80px;
  left: 0px;
}
.paper{
  margin: 2.4em 3em;
}
.hero-unit {
  padding: 40px;
}

.tagline {
  margin-top: 20px;
  margin-bottom: 0;
}

#intromovie {
  text-align: center;
  margin-top: 40px;
}

.row.teaserimages {
  margin-bottom: 25px;
  height: 182px;
}

#facesvideo {
  display: none;
}

li {
  color: #404040;
}


img.inline {
  float: right;
  margin: 0 10px 10px 0;
}

img.inlineleft {
  float: left;
  margin: 0 10px 10px 0;
}

img#map14 {
  display: none;
}

img.screenshot {
  border:1px solid #404040;
}

.section {
  border-top: 1px solid #eee;
  margin-top: 35px;
  padding-top: 25px;
}

.clear {
 overflow: hidden;
 height: 1%;
}


