#logo {
  margin:20px 0 35px;
}

#hero {
  margin:-4px 0 35px;
}

#hero h1 {
  border:none;
}

img.inline {
  float:left;
  margin:6px 10px 10px 0;
}

img#map14 {
  display: none;
}

img.screenshot {
  border:1px solid #404040;
}
img.screenshot.inline {
  margin: 0 15px 15px 0;
}

#facesvideo {
  display: none;
}

ul {
  color:#666;
  list-style-position:outside;
  padding-left:20px;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size:35px;
}

body, h3, h4, h5, h6 {
  font-weight: normal;
}
