<!DOCTYPE html>
<html lang='en'>
<head>
<meta encoding='utf-8'>
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
<meta content='noarchive' name='robots'>
<meta content='{{ page.keywords }}' name='keywords'>
<meta content='{{ page.description }}' name='description'>
<title>{{ page.title }}</title>
<link href="http://map.local.ch/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<link href="assets/bootstrap/bootstrap.css" rel="stylesheet">
<link href="/assets/jobs.css" media="all" rel="stylesheet" type="text/css" />
<style type="text/css">
      body {
        /*  */
        
      
        padding-top: 100px;
      }
    </style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26458834-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>
    <div class="container">
      
      <div id="logo">
        <a href="http://www.local.ch/en"><img src="assets/logo_en.gif" alt="local.ch logo"></a>
      </div>
      
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Join the local.ch Engineering Team</h1>
        <p class="small">We are local.ch, Switzerland's official phonebook directory and on our way to become much more than that.</p>
        <p class="tagline"><strong>Find out more about <a href="/index.html">the team and the company</a>.</p>
      </div>
      
      <div class="paper">
      {{ content }}
      </div>

      <footer>
        <p>&copy; local.ch</p>
      </footer>

    </div> <!-- /container -->
    
</body>
</html>
