<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class='no-js ie6 oldie' lang='en'>
<![endif]-->
<!--[if IE 7]>
  <html class='no-js ie7 oldie' lang='en'>
<![endif]-->
<!--[if IE 8]>
  <html class='no-js ie8' lang='en'>
<![endif]-->
<!--[if IE 9]>
  <html class='no-js ie9' lang='en'>
<![endif]-->
<!--[if gt IE 9]><!-->
<html class='no-js' lang='en'>
  <!--<![endif]-->
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='noarchive' name='robots'>
    <title>{{ page.title }}</title>
    <meta content='{{ page.description }}' name='description'>
    <meta content='{{ page.keywords }}' name='keywords'>
    <!-- skeleton: tmp until is deployed -->
    <link href="/assets/local-skeleton.min.css" media="all" rel="stylesheet" type="text/css" />
    <!-- custom -->
    <link href="/assets/responsive.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body class='en'>

    <div class="row">
      <div id="logo" class="twelve columns">
        <a href="http://www.local.ch/en"><img src="assets/logo_en.gif" alt="local.ch logo"></a>
      </div>
    </div>
    <div class="row">
      <div id="hero" class="twelve columns">
        <div class="emphasized panel">
          <h1>Join the local.ch Engineering Team</h1>
          <p class="small">We are local.ch, Switzerland's official phonebook directory and on our way to become much more than that.</p>
          <p class="tagline">Find out more about <a href="/index.html">the team and the company</a>.</p>
        </div>
      </div>
    </div>

    {{ content }}

    <div class="row">
      <div id="footer" class="twelve columns">
        <p>&copy; local.ch</p>
      </div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
       $("#facespreview").click(function(event){
         $(this).hide();
         $("#facesvideo").show();
         $("#facesvideo iframe").attr('src', 'http://www.youtube.com/embed/L0C54n9VRRs?rel=0&autoplay=1')
         event.preventDefault();
       });
       
       $('#maplocation').hover(function() {
         $('#map12').hide();
         $('#map14').show();
       }, function() {
         $('#map14').hide();
         $('#map12').show();
       })
      });
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26458834-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
